[Unit]
Description=Balance Exchange Rates Server
After=network.target

[Service]
User=exchangerates
Type=simple
Restart=always
RestartSec=15
ExecStart=/bin/bash -ce 'exec stdbuf -i0 -o0 -e0 /opt/exchangerates/BalanceExchangeRateServer &>> /var/log/exchangerates.log'

[Install]
WantedBy=multi-user.target